{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}


	<div id="headerwrap">
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-12 fade-in welcome_0" align="center">
								<span style="font-size:36px">Welcome {{ user.first_name }}</span><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 fade-in welcome_1" align="center">
					<span style="font-size:20px">This CustomerPortal will help you...</span>
				</div>
			</div>


			<div class="row" style="padding-top:30px">


{% endblock %}
