{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block layout %}
  <style>
  .portal-network-details > div {
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .portal-network-details .SortableTable tr.pagination {
    display: table-row;
    margin: 0;
  }
  .portal-network-details .SortableTable div.pages > span {
    height: 2.5em;
  }
  .portal-network-details select.limiter {
    padding: 6px 16px;
    background-color: #fff;
  }
  .portal-network-details .label {
    color: #333;
  }
  </style>
<script data-key="{{ object.data_key }}" data-token="{{ object.data_token }}" data-network-id="{{ object.data_network_id }}" src="{% static 'js/pull-data.js' %}"></script>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs network-detail-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#portalOverview" data-toggle="tab">Overview</a></li>
    <li role="presentation" class="disabled"><a href="#portalClients" data-toggle="tab">Clients</a></li>
    <li role="presentation" class="disabled"><a href="#portalAccessPoints" data-toggle="tab">Access Points</a></li>
    <li role="presentation" class="disabled"><a href="#portalApplications" data-toggle="tab">Applications</a></li>
    <li role="presentation" class="disabled"><a href="#portalSiteSurvey" data-toggle="tab">Site Survey</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content portal-network-details">
    <!-- Application data pie chart -->
    <div role="tabpanel" class="tab-pane active" id="portalOverview">
      <div class="portal-NetworkHistogram"></div>
      <div class="portal-ApplicationPieChart"></div>
      <div class="portal-NetworkMap"></div>
    </div>

    <!-- Application data sortable table -->
    <div role="tabpanel" class="tab-pane" id="portalClients">
      <div class="portal-ClientTable"></div>
    </div>

    <!-- Network usage histogram -->
    <div role="tabpanel" class="tab-pane" id="portalAccessPoints">
      <div class="portal-NetworkMap2"></div>
      <div class="portal-NodeTable"></div>
    </div>

    <!-- Network map -->
    <div role="tabpanel" class="tab-pane" id="portalApplications">
      <!-- Application data pie chart -->
      <div class="portal-ApplicationPieChart2"></div>
      <!-- Application data sortable table -->
      <div class="portal-ApplicationTable"></div>
    </div>

    <!-- Access point sortable table -->
    <div role="tabpanel" class="tab-pane" id="portalSiteSurvey">
      <!-- Site survey sortable table -->
      <div class="portal-SurveyTable"></div>
    </div>
  </div>
</div>
  <script language="javascript">
var detailLoads = {};
    $(".network-detail-tabs a[data-toggle=tab]").click(function (e) {
        if ($(this).parent().hasClass("disabled")) {
          e.preventDefault();
          return false;
        }
        var obj = this;
        setTimeout(function () {
          var tabID = $(obj).attr("href").substring(1);
          if (!detailLoads[tabID]) {
            detailLoads[tabID] = cloudtrax.reload(portalTabs[tabID]);
          }
        },10);
        return true;
    });
  </script>
{% endblock %}