<script data-key="{{ object.data_key }}" data-token="{{ object.data_token }}" data-network-id="{{ object.data_network_id }}" src="https://embed.cloudtrax.com/v1.js"></script>

<!-- You may use any amount of the following DIVs on your page -->

<!-- Application data pie chart -->
<div class="cloudtrax-ApplicationPieChart"></div>

<!-- Application data sortable table -->
<div class="cloudtrax-ApplicationTable"></div>

<!-- Network usage histogram -->
<div class="cloudtrax-NetworkHistogram"></div>

<!-- Network map -->
<div class="cloudtrax-NetworkMap"></div>

<!-- Access point sortable table -->
<div class="cloudtrax-NodeTable"></div>

<!-- Access point sortable table with some columns removed for compactness -->
<div class="cloudtrax-NodeTableCompact"></div>

<!-- Client sortable table -->
<div class="cloudtrax-ClientTable"></div>

<!-- Site survey sortable table -->
<div class="cloudtrax-SurveyTable"></div>